@use '@/styles/_variables.scss' as v;


.home {
  width: 100%;

  .home-content {
    width: 100%;
    padding: 10rem 0 0 0;
    position: relative;
    z-index: 2;
  }

  .home-svg-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;

    .home-svg {
      width: 100%; 
      max-width: 100%;
      height: auto;
      pointer-events: none;
    }
  }
  .about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 600px) {
  .home {
    .home-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .home-content {
        padding: 0;
      }
    }

  }
}