@use '@/styles/_variables.scss' as v;


.home {
  width: 100%;
  padding: 3rem 0 0 0;
  .home-content {
    width: 80%;
    position: relative;
    z-index: 2;
  }

  .home-svg-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;

    .home-svg {
      width: 100%; 
      max-width: 100%;
      height: auto;
      pointer-events: none;
    }
  }
  .about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .home {
    .home-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .home-content {
        width: 100%;
        padding-bottom: 3rem;
      }
    }
  }
}
@media (min-width: 425px){
  .home{
    padding: 5rem 0 0 0;
  }
}

@media (min-width: 768px){
  .home{
    padding: 10rem 0 0 0;
  }
}