@use '@/styles/variables' as v;

.project-card {
  // Propiedades generales
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid v.$primary-color;
  border-radius: 0.5rem;
  position: relative;
  transition: transform 0.5s ease;

  // Tipografía
  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .project-date{color: #b9b9b9;}

  // Contenedor de imagen
  .container-project-image {
    .project-image {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
      height: auto;
      display: block;
      border-radius: 0.5rem;
      transition: filter 0.3s ease, box-shadow 0.3s ease;
    }
  }

  // Links y etiquetas
  .link-etiquetes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
    gap: 1rem;

    .links,
    .etiquetes {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }

    .links a {
      display: flex;
      justify-content: center;

      img {
        width: 1.7rem;
        height: auto;
        cursor: pointer;
      }
    }

    .etiquetes p {
      margin: 0;
      padding: 0.3rem 0.7rem;
      border-radius: 1.5rem;
      background: #29fdbd0d;
      font-size: 0.85rem;
      border: 1px solid v.$primary-color;
    }
  }

  // Links generales (animaciones y hover)
  .links {
    transition: all 0.3s ease;

    a {
      display: inline-block;
      border: 0.5px solid transparent;
      border-radius: 20%;
      padding: 0.1rem;
      transition: all 0.3s ease;
      transform: scale(1);
    }
  }

  // Hover principal
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(4, 148, 105, 0.241);
    background-color: #7329fd07;
    background-image: linear-gradient(
      to bottom,
      v.$primary-color 0%,
      rgba(v.$primary-color, 0.5) 10%,
      rgba(v.$primary-color, 0.3) 20%,
      rgba(v.$primary-color, 0.15) 40%,
      transparent 100%
    );

    .links {
      column-gap: 1rem;

      a {
        transform: scale(1.2);
        border-color: v.$white-color;
      }
    }
  }

  // Hover específico para tarjetas de tipo "text"
  &.text:hover {
    background-image: linear-gradient(
      to bottom,
      rgba(v.$primary-color, 0.2) 0%,
      rgba(v.$primary-color, 0.1) 10%,
      rgba(v.$primary-color, 0.05) 20%,
      rgba(v.$primary-color, 0.03) 30%,
      transparent 100%
    );
  }
}
