.bg-a-cards .a-cards,
.bg-b-cards .b-cards,
.bg-c-cards .c-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 3.5rem;
}

.bg-b-cards {
  background-image: linear-gradient(to right, #04161a2c, #29fdbd35);
  padding: 2rem 0;
}

.bg-a-cards, .bg-c-cards {
  background-image: linear-gradient(to left, #04161a2c, #29fdbd35);
  padding: 2rem 0;
}

@media (min-width: 1000px) {
  .bg-a-cards .a-cards,
  .bg-b-cards .b-cards,
  .bg-c-cards .c-cards {
    justify-content: space-between;
  }
}