@use "../../styles/variables" as v;

.technologies {
    display: flex;
    flex-direction: column;
    padding: 15rem 0 10rem 0;

    position: relative; // Esto permite que el SVG absoluto se posicione respecto a este contenedor
    overflow: hidden; // Evita que el SVG se salga del contenedor


    .technologies-svg {
        position: absolute;
        top: 0;
        right: 0; // fijamos al lado derecho
        transform: translateX(50%);
        height: 100%;
        width: auto;
        z-index: 0;
        pointer-events: none;
        object-fit: cover;
    }

    .technologies-container {
        gap: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
        max-width: 75%;
        position: relative;
        z-index: 1;
        

        .tech-block {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            min-width: 35%;

            .tech-title {
                font-family: v.$font-primary;
                font-size: 1.1rem;
            }

            .tech-items {
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;
            

                .tech-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 0.5rem;

                    img {
                        width: 3rem;
                        height: auto;
                        object-fit: contain;
                    }

                }
            }
        }
    }
}

  @media (max-width: 450px) {
      .technologies {
            .technologies-svg {
                transform: translateX(75%);
            }
          .technologies-container {
              grid-template-columns: 1fr;
              max-width: 100%;

              .tech-block {
                  min-width: 100%;
              }
          }
      }
  }