@use '@/styles/_variables.scss' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth;
  text-align: left;
  font-weight: normal;
  line-height: 1.6;
}

html, body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 0.703);
}
::-webkit-scrollbar-thumb {
  background: #21beae;        
  border-radius: 10px;      
}
::-webkit-scrollbar-thumb:hover {
  background: #1aa596;       
}

a { text-decoration: none;}