@use './variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth;
  text-align: left;
  font-weight: normal;
}

html, body {
  height: 100%;
  width: 100%;
}

// Ocultar scrollbars en navegadores Webkit
::-webkit-scrollbar {display: none;}

a { text-decoration: none;}
//ul {list-style: none;}