// Colores
$black-color: #080808;
$white-color: #ffffff;
$primary-color: #29fdbe;
$secondary-color: #072E33;

// Tipografías
$font-primary:  'Michroma', sans-serif;
$font-secondary: 'Metrophobic', sans-serif;

// Tamaños de fuente
$font-size-small-mobile: 8px;
$font-size-mobile: 11px;
$font-size-tablet: 12px;
$font-size-laptop: 14px;
$font-size-desktop: 16px;
$font-size-large-desktop: 18px;
$font-size-huge-desktop: 26px;