@use 'src/styles/_variables.scss' as v;


//mobile first
.home {
    width: 100%;

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 2rem;

        h1,
        span {
            color: v.$primary-color;
        }
    }

    .home-container {
        margin-top: 12rem;

        .presentation-container {
            width: 100%;
            position: relative;
        }

        .home-svg {
            padding: 8rem 0;
            width: 100vw;

            img {
                width: 100%; // se estira horizontalmente
                height: 100%; // se comprime verticalmente
                object-fit: fill; // deforma para llenar todo
            }
        }
    }

    .about {
        min-height: 100vh;
        position: relative;

        .my-priorities {
            .background-mp-cards {
                background-image: linear-gradient(to right, #04161a2c, #29ffbf39);

                .mp-cards {
                    padding: 2.5rem 0;
                }
            }
        }
    }

    .wid-cards,
    .mp-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        row-gap: 3.5rem;
    }
}


//Tablet
@media (min-width: 800px) {
    .home {

        .wid-cards,
        .mp-cards {
            justify-content: space-between;
        }
    }
}

@media (min-width: 1000px) {
    .home {
        .home-container {
            height: 70vh;

            .home-svg {
                position: absolute;
                padding: 0;
                top: 120%;
            }
        }
    }
}

@media (min-width: 1400px) {
    .home {
        .home-container {
            height: 100vh;
        }
    }
}