@use '@/styles/_variables.scss' as v;
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 9rem;

    .card-img {
        width: 3rem;
    }
}

.c-card {
  .card-text {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: baseline;
    text-align: center;

    .card-icon, .card-plus{ font-size: 2rem; font-weight: lighter; font-family: v.$font-primary;}
    .card-icon {color: v.$primary-color;}
    .card-plus {color: v.$white-color;}
  }
}
@media (min-width: 1000px) {
  .card {
    .card-img {
      width: 5rem;
    }
  }

  .c-card{
    .card-text{
      .card-icon, .card-plus{ font-size: 3rem; }
    }
  }
}
