@use 'src/styles/_variables.scss' as v;
.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    min-width: 9rem;

    .card-img {
        width: 3rem;
    }
}
.a-card{
     background-image: linear-gradient(to bottom, #04161a2c, #29ffbf39);
}

.c-card {
  .card-text {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: baseline;
    text-align: center;

    .card-icon, .card-plus{ font-size: 3rem; font-weight: lighter; font-family: v.$font-primary;}
    .card-icon {color: v.$primary-color;}
    .card-plus {color: v.$white-color;}
  }
}

@media (min-width: 700px) {
    .card {
            padding: 1rem;
            gap: 1.5rem;
            min-width: 14.5rem;

            .card-img {
                width: 5rem;
            }
        }
}