@use '@/styles/variables' as v;

.projects-section {
  width: 100%;
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  h2.margin-mark {
    margin-bottom: 2rem;
  }

  .projects-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2rem;
    min-height: 25rem; // evita que el hover desborde
    justify-content: flex-start;
    align-items: flex-start;
    scroll-snap-type: x mandatory;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: stretch;

    &.is-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 3rem;
      overflow: visible; 
    }

    &.is-carousel {
      & > * {
        scroll-snap-align: center;
        flex: 0 0 calc((100% - 2rem) / 2); // 2 tarjetas visibles
        transition: transform 0.3s ease;
      }
    }

    // Scrollbar invisible
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .carousel-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
      padding: 0.5rem 1rem;
      border: 0.1rem solid v.$primary-color;
      border-radius: 0.5rem;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: v.$primary-color;
        color: v.$black-color;
        transform: scale(1.05);
      }
    }
  }

  .more-projects-btn {
      width: 100%;
      margin-top: 2rem;
      
    a{
      padding: 0.5rem 1rem;
      border: 0.1rem solid v.$primary-color;
      border-radius: 2rem;
      font-family: v.$font-primary;
      color: v.$primary-color;
      background: transparent;
      transition: all 0.3s ease;
    }
    &:hover {
      a{
        background: v.$primary-color;
        transform: scale(1.05);
        color: v.$black-color;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 500px) {
  .projects-section {
    .more-projects-btn {
      margin-top: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .projects-section {
    .projects-container.is-carousel > * {
      flex: 0 0 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .projects-section {
    .projects-container.is-carousel > * {
      flex: 0 0 calc((100% - 2rem)/2);
    }
  }
}

// Desktop ≥1200px → grid 3x2
@media (min-width: 1200px) {
  .projects-section {
    .projects-container.is-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }
}
