@use '@/styles/variables' as v;

.projects-section {
  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 2rem;

    button {
      padding: 0.2rem 0.8rem;
      border: 0.1rem solid v.$primary-color;
      border-radius: 2rem;
      color: v.$primary-color;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 0.9rem;
      font-weight: bolder;

      &:hover {
        background: v.$primary-color;
        color: v.$black-color;
        transform: scale(1.05);
      }

      &.active {
        background: v.$primary-color;
        color: v.$black-color;
      }
    }
  }

}

.back-button-wrapper {
  display: flex;
  justify-content: flex-start; // Alinea a la izquierda
  margin-top: 2rem; // Opcional: un margen superior para separar del carrusel
}

.back-button {
  background-color: v.$secondary-color;
  border: 0.1rem solid v.$primary-color; 
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;

  &:hover {
    background-color: v.$primary-color; // O variable de color
    color: v.$black-color;
    font-weight: bold;
    transform: scale(1.1); // Crece levemente al hacer hover
  }
}

.loader {
  opacity: 1;
  transition: opacity 0.6s ease; 
  &.hidden {
    opacity: 0;
  }
}

.projects-container {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);

  &.animating {
    opacity: 0;
    transform: translateY(20px);
  }
}