@use '@/styles/variables' as v;

.projects-section {
  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 2rem;

    button {
      padding: 0.2rem 0.8rem;
      border: 0.1rem solid v.$primary-color;
      border-radius: 2rem;
      color: v.$primary-color;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 0.9rem;
      font-weight: bolder;

      &:hover {
        background: v.$primary-color;
        color: v.$black-color;
        transform: scale(1.05);
      }

      &.active {
        background: v.$primary-color;
        color: v.$black-color;
      }
    }
  }

}
