@use 'src/styles/_variables.scss' as v;

.education {
    //min-height: 130vh;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .education-categories {
        display: flex;
        flex-wrap: wrap;
        row-gap: 5rem;
        column-gap: 3rem;

        .education-block {
            margin-bottom: 2rem;

            &.half{ flex: 1 1 45%; max-width: 50%; } //// grow: puede expandirse, shrink: puede achicarse, basis: ancho inicial 45%
            &.full{width: 100%; max-width: 100%;}

            h3 {padding-bottom: 1rem; width: 100%;}
            ul {padding-top: 1.5rem;}

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                padding-left: 0; // elimina indentación por defecto
                list-style: none;

                li {
                    position: relative;
                    padding-left: 1.2rem; // espacio para el bullet

                    &::before {
                        content: "·";
                        position: absolute;
                        left: 0;
                        color: v.$primary-color;
                    }
                }

                li,
                .details {
                    
                    font-weight: lighter;
                }

                .details {
                    margin-top: 1rem;
                    color: rgb(188, 188, 188)
                }
            }

            .see-more {
                color: v.$primary-color;
                margin-left: 0.5rem;
                cursor: pointer;
            }
        }
    }
}

/* --- Responsivo --- */
@media (max-width: 700px) {
    .education {
        .education-categories {
            flex-direction: column;
            align-items: center;

            .education-block {
                &.half, &.full { max-width: 100%; width: 100%; }

                ul li,.details {font-size: 1.2rem;}
            }
        }
    }
}